@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron|Poiret+One|Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

body{
	background: #fafafa;
}

.wrapper{
	max-width: 480px;
	margin: 0 auto;
}

.navbar{
	background-color: #222;
	height: 50px;
	width: 100%;
	display: table;
}

.menu_button{
	width: 40px;
	height: 40px;
	background: #222;
	border: solid 2px #444;
	vertical-align: middle;
	display: table-cell;
	float: right;
	color: #fafafa;
}

.top_title{
	display: table-cell;
	color: #fafafa;
	text-decoration: none;
	vertical-align: middle;
}

.menu{
	max-width: 480px;
	color: #cecece;
	background-color: #444;
	display: none;
}

.menu .menu_list{
	list-style: none;
	margin-left: 1rem;
	margin-bottom: 0;
}

.menu .menu_list .menu_item{
	line-height: 40px;
	cursor: pointer;
}

.menu_item:first-child{
	padding-top: 1rem;
}

.menu_item:last-child{
	padding-bottom: 1rem;
}

.content_title{
	text-align: center;
	font-size: 18pt;
	padding-top: 2rem;
	padding-bottom: 1rem;
	border-top: solid 5px rgb(212, 52, 199);
}

.list_about{
	margin-left: 2rem;
}

.about_item{

}

.block_title{
	line-height: 60px;
	background: #f4f4f4;
	text-align: center;
	font-size: 18pt;
}

.garantie_element{
	margin: 2rem 0;
}

.element_title{
	font-size: 16pt;
	padding: 0 1rem;
}

.element_description{
	font-size: 12pt;
	text-align: justify;
	padding: 0 1rem;
}

.comfort{
	width: 100%;
	padding-top: 2rem;
}

.comfort_element{
	width: 50%;
	text-align: center;
	float: left;
	margin-bottom: 1rem;
}

.comfort_img{
	width: 80px;
	vertical-align: middle;
	padding-bottom: 5px;
}

.comfort_title{
	font-size: 10pt;
}
